body {
    background: black;
    margin:0;
}

.grad-background {
  background: linear-gradient(black, maroon, black);
    margin:0;
}

.dt-dates {
    color: white;
    text-align: left;

}

.dt-dates > ul {
    margin-left: 10%;
}

.dt-dates > ul > li {
    margin-bottom: 2%;
}


.row {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 2%;
}

.row p {
    color: white;
}

img {
  width:100%;
  height:100%;
}

a {
  text-decoration: none;
}

i {
    color: red;
}

h2 {
    text-align: center;
    color: rgba(255,0,0,    0.9);
    font-family: 'Cardo', serif;
    font-weight: 900;
    text-transform: uppercase;
    padding-top: 2%;
    font-size: 1.2rem;
}

p {
  color: red;
  font-family: 'Cardo', 'serif';
  font-size: 1rem;
  font-style: italic;
}

.wrap {
  padding: 40px;
  text-align: center;
}

hr {
  clear: both;
  margin-top: 40px;
  margin-bottom: 40px;
  border: 0;
  border-top: 1px solid #aaa;
}


/*ADDED TO STOP SCROLLING TO TOP*/
#close {
  display: none;
}

.thanks {
    padding-top: 5%;
    text-align: center;
}